// PREVIEW SECTION
.visual_section {
  position: relative;
  width: 55vw;
  height: 100vh;
  img.visual {
    position: absolute;
    width: 65%;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  img.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: auto;
  }
  img.left_circles {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
  }
}
